<div *ngFor="let column of dataManager.columns">

  <div *ngIf="elemEnabled(column)">

    <ng-template #cellTemplate
                 *ngIf="column.cellTemplate"
                 [ngTemplateOutlet]="column.cellTemplate"
                 [ngTemplateOutletContext]="{
                  value: item[column.name],
                  column: column
               }">
    </ng-template>

    <div *ngIf="!column.cellTemplate" [ngSwitch]="column.type">

      <app-form-select
        *ngSwitchCase="'select'"
        [column]="column"
        [(value)]="(column.keyColumn) ? dataManager.item[column.keyColumn] : dataManager.item[column.name]"
        [dependsValue]="dataManager.item[column.dependsColumn]"
        (valid)="onValid($event, column)"
        [service]="dataManager.service"
        (keyColumnChange)="onKeyColumnChange($event)"
        [disabled]="isDisabled(column)">
      </app-form-select>

      <app-form-select-popup
        *ngSwitchCase="'select-popup'"
        [column]="column"
        [(value)]="(column.keyColumn) ? dataManager.item[column.keyColumn] : dataManager.item[column.name]"
        [dependsValue]="dataManager.item[column.dependsColumn]"
        (valid)="onValid($event, column)"
        [service]="dataManager.service"
        (keyColumnChange)="onKeyColumnChange($event)"
        [disabled]="isDisabled(column)"
        (nameChanged)="onSelectPopupNameChanged($event, column)">
      </app-form-select-popup>

      <app-form-checkbox
        *ngSwitchCase="'checkbox'"
        [column]="column"
        [(value)]="dataManager.item[column.name]"
        [dependsValue]="dataManager.item[column.dependsColumn]"
        (valid)="onValid($event, column)"
        [service]="dataManager.service"
        [disabled]="isDisabled(column)">
      </app-form-checkbox>

      <app-form-radio
        *ngSwitchCase="'radio'"
        [column]="column"
        [(value)]="dataManager.item[column.name]"
        [dependsValue]="dataManager.item[column.dependsColumn]"
        (valid)="onValid($event, column)"
        [service]="dataManager.service"
        [disabled]="isDisabled(column)">
      </app-form-radio>

      <app-form-textarea
        *ngSwitchCase="'textarea'"
        [column]="column"
        [(value)]="dataManager.item[column.name]"
        (valid)="onValid($event, column)"
        [disabled]="isDisabled(column)">
      </app-form-textarea>

      <app-form-calendar
        *ngSwitchCase="(column.type ==='date' || column.type ==='datetime-local') ? column.type : ''"
        [column]="column"
        [(value)]="dataManager.item[column.name]"
        (valid)="onValid($event, column)"
        [disabled]="isDisabled(column)">
      </app-form-calendar>

      <app-form-input-text
        *ngSwitchDefault
        [column]="column"
        [(value)]="dataManager.item[column.name]"
        (valid)="onValid($event, column)"
        [disabled]="isDisabled(column)">
      </app-form-input-text>

    </div>

  </div>

</div>
