.selection {
    position: absolute;
    border-top: none;
}

.selected {
    background-color: #e0e0e0;
}

.list-divider {
    height: 1px;
    margin: 3px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.dropdown-menu {
    height: auto;
    overflow-y: auto;
    max-height: 200px;
    padding: 3px;
}