<div class="selection" 
	#selectionSpan 
	[ngStyle]="{'top.px': top, 'left.px': left, 'width.px': width}" 
	(click)="onSelectContainerClick($event)" 
	(keydown.esc)="closeDropdown()" 
	(window:click)="onWindowClick()">
	<div class="dropdown">
	    <ul class="dropdown-menu" [style.display]="(isVisible && column.options) ? 'block' : 'none' ">
		<li class="dropdown-item">
		    <div class="input-group input-group-sm">
			<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			<input type="text" class="form-control" placeholder="Search..." #searchFilterInput [(ngModel)]="searchFilterText">
			<span class="input-group-btn" *ngIf="searchFilterText.length > 0">
			    <button class="btn btn-default" type="button" (click)="clearSearch()"><i class="glyphicon glyphicon-remove"></i></button>
			</span>
		    </div>
		</li>
		<li class="list-divider"></li>
		<li *ngIf="selectionLimit !== 1" class="dropdown-item">
		    <a href="javascript:;" role="menuitem" tabindex="-1" (click)="checkAll()">
			<span style="width: 16px;" class="glyphicon glyphicon-ok"></span>
			Select all
		    </a>
		</li>
		<li class="dropdown-item">
		    <a href="javascript:;" role="menuitem" tabindex="-1" (click)="uncheckAll()">
			<span style="width: 16px;" class="glyphicon glyphicon-remove"></span>
			Clear
		    </a>
		</li>
		<li class="list-divider"></li>
		<li class="dropdown-item" 
		*ngFor="let option of column.options | searchFilter:searchFilterText" 
		[ngClass]="{'active': isSelected(option)}" 
		(click)="setSelected($event, option)">
		    <a href="javascript:;" role="menuitem" tabindex="-1">
			<span style="width: 16px;" class="glyphicon" [class.glyphicon-ok]="isSelected(option)"></span>
			{{ option.name }}
		    </a>
		</li>
	    </ul>
	    <ul class="dropdown-menu" [style.display]="(isVisible && !column.options) ? 'block' : 'none' " >
	    	<li class="dropdown-item">
	    		<div class="input-group input-group-sm">
				<input type="text" class="form-control" 
					#filterInput 
				    [attr.placeholder]="column.name" 
				    *ngIf="column.filter" 
				    [value]="filters[column.name] ? filters[column.name].value : ''" 
				    (click)="onFilterInputClick($event)" 
				    (keyup)="onFilterKeyup($event.target.value, column.name, column.filterMatchMode)" />
				    <span class="input-group-btn" *ngIf="(filters[column.name] && filters[column.name].value.length > 0)">
				    	<button class="btn btn-default" type="button" (click)="uncheckAll()"><i class="glyphicon glyphicon-remove"></i></button>
					</span>
				</div>
		    </li>
		</ul>
	</div>
</div>