.k-grid {
    position: relative;
    zoom: 1;
}
.k-grid-header, .k-grid-body {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.k-grid-content-locked, .k-grid-header-locked {
    display: inline-block;
    vertical-align: top;
    overflow: hidden;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #c6c6c6;
}
.k-grid-content-locked+.k-grid-content, .k-grid-header-locked+.k-grid-header-wrap {
    display: inline-block;
    vertical-align: top;
}
.k-grid-header-wrap {
    width: 100%;
    overflow: hidden;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: #c6c6c6;
    zoom: 1;
}
.k-grid-header-block {
    display: inline-block;
    vertical-align: top;
    overflow-y: scroll;
    visibility: hidden;
}
.k-grid-content {
  width: 100%;
  overflow: auto;
  overflow-x: auto;
  overflow-y: scroll;
  zoom: 1;
  min-height: 0;
}
.k-grid-content-expander {
    visibility: hidden;
    height: 1px;
}
.k-grid table {
  table-layout:fixed;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
.k-grid th, td {
  border: 1px solid #c6c6c6;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px;
  line-height: 1.42857143;
  vertical-align: top;
}
.pager-wrap {
    text-align: center;
}
.scrollbar-measure {
  width: 100px;
  height: 100px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}
.resize-handle {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 5px;
    padding: 0 4px;
    cursor: ew-resize;
}