<div class="alert alert-danger" *ngIf="errors">{{errors.errMsg}}</div>

<p *ngIf="settings.crud" [style.display]="(!onDetailView) ? 'block' : 'none' ">
  <button type="button" class="btn btn-primary" (click)="createItem()">Create</button>
</p>
<div class="grid-view" [style.display]="(!onDetailView) ? 'block' : 'none' ">
  <app-datatable
    [columns]="columns"
    [settings]="settings"
    [items]="items"
    [filters]="filters"
    [rowMenu]="rowMenu"
    [itemsPerPage]="itemsPerPage"
    [totalItems]="totalItems"
    [loading]="loading"
    (filterChanged)="onFilter($event)"
    (pageChanged)="pageChanged($event)"
    (sortChanged)="sort($event)"
    (editComplete)="editItem($event)"
    (selectedRowIndexChanged)="onSelectedRow($event)">
  </app-datatable>
</div>

<app-modal #childModal [modalTitle]="modalTitle()">
  <div class="app-modal-body">
    <div *ngIf="item">
      <row-form
        [columns]="columns"
        [item]="item"
        [settings]="settings"
        [isNew]="newItem">
      </row-form>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger" *ngIf="!newItem" (click)="delete()">Delete</button>
    <button type="button" class="btn btn-success" (click)="save()">Save</button>
    <button type="button" class="btn btn-primary pull-right" (click)="childModal.hide()">Close</button>
  </div>
</app-modal>

<detail-view *ngIf="onDetailView && item"
             [columns]="columns"
             [item]="item"
             [settings]="settings"
             (onClose)="closeDetails()"
             (onSaveItem)="save()"
             (onDeleteItem)="delete()">
</detail-view>
