<app-modal #childModal [modalTitle]="modalTitle()" [width]="500" [zIndex]="zIndex">
  <ng-container class="app-modal-body">
    <div *ngIf="childModal.visible">
      <app-row-form
        *ngIf="!dataManager.detailView"
        [dataManager]="dataManager">
      </app-row-form>
      <app-row-view
        *ngIf="dataManager.detailView"
        [dataManager]="dataManager">
      </app-row-view>

    </div>
  </ng-container>
  <ng-container class="app-modal-footer">
    <button type="button"
            class="button button3"
            *ngIf="!dataManager.isNewItem && !dataManager.detailView"
            (click)="delete()">{{dataManager.settings.messages.delete}}
    </button>
    <button type="button"
            class="button button1"
            [style.visibility]="!dataManager.detailView ? 'visible': 'hidden'"
            (click)="save()"
            [disabled]="!dataManager.formValid">{{dataManager.settings.messages.save}}
    </button>
    <button type="button"
            class="button"
            style="float: right;"
            (click)="close()">{{dataManager.settings.messages.close}}
    </button>
  </ng-container>
</app-modal>
