.list-menu.lg li > span {
  padding: 8px 3px;
}

.dt-row {
  display: flex;
}

.dt-col-left {
  width: 250px;
  margin-right: 5px;
}

.dt-col-right {
  width: calc(100% - 255px);
}

.cell-big-value {
  background-color: lightsalmon;
}

.cell-zero-value {
  background-color: lightgreen;
}

.cell-middle-value {
  background-color: lightblue;
}
