.demo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.demo-list span {
  cursor: pointer;
  color: #5b9bd5;
  display: block;
  padding: 8px 3px;
}

.demo-list span:hover:not(.active) {
  background-color: gray;
  color: white;
}

.demo-list span.active {
  background-color: #5b9bd5;
  color: white;
}


.dt-row {
  display: flex;
}

.dt-col-left {
  width: 14%;
  margin-right: 5px;
}

.dt-col-right {
  width: 85%;
}

.cell-big-value {
  background-color: lightsalmon;
}

.cell-zero-value {
  background-color: lightgreen;
}

.cell-middle-value {
  background-color: lightblue;
}
