.spinner {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  z-index: 1000;
}

.spinner {
  box-sizing: border-box;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 -20px 0 24px #5b9bd5 inset;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
