  <div class="ui-modal" tabindex="-1" role="dialog" 
  		#modalRoot
  		(click)="static ? hide() : 0" 
  		(keydown.esc)="hide()" 
  		[ngClass]="{'in': visibleAnimate}" 
    	[ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="ui-modal-dialog" (click)="preventClosing($event)">
      <div class="ui-modal-content">
        <div class="ui-modal-header">
            <span class="ui-close" (click)="hide()">&times;</span>
            <h3 class="ui-modal-title">{{modalTitle}}</h3>
        </div>
        <div class="ui-modal-body">
          <ng-content select=".app-modal-body"></ng-content>
        </div>
        <div class="ui-modal-footer">
          <ng-content select=".app-modal-footer"></ng-content>
        </div>
      </div>
    </div>
  </div>