.tree-container {
  height: 100%;
  margin: 0;
  white-space: nowrap;
  padding-left: 25px;
}

.treenode-content {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.treenode {
  list-style: none outside none;
  margin: 0;
  padding: 5px 0 0 0;
}

.treenode:hover {
  cursor: pointer;
}

.treenode .highlight {
  border-color: #156090;
  background: #5b9bd5;
  color: #FFFFFF;
}

.treenode .filter-found {
  font-weight: bold;
}

.treenode .filter-on-path {
  opacity: 0.5;
}

.treenode.filter-not-found {
  display: none;
}
