<ul class="tree-container">
  <li class="treenode" *ngFor="let node of nodes">
    <i [class]="getIcon(node)"
       (click)="onExpand(node)">
    </i>

    <span class="treenode-content"
          (click)="onSelectNode(node)"
          (dblclick)="onExpand(node)"
          [ngClass]="{'highlight': isSelected(node)}">
        {{node.name}}
    </span>

    <tree-view
      [nodes]="node.children"
      [selectedNode]="selectedNode"
      (selectedChanged)="onSelectNode($event)"
      (requestNodes)="onRequestLocal($event)"
      *ngIf="node.children && node.expanded">
    </tree-view>
  </li>
</ul>
