.nav-menu {
  display: block;
  margin: 0 auto;
  background-color: #1A3147;
}

.nav-item {
  display: block;
  position: relative;
  background-color: #1A3147;
}

.vertical-menu-item {
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: block;
  max-width: 16.25rem;
  overflow-wrap: break-word;
  padding-left: .375rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  text-decoration: none;
  text-align: left;
  width: 100%;
  word-wrap: break-word;
  font-size: .875rem;
}

.vertical-menu-item:hover {
  background-color: #414A52;
  color: white;
}

.vertical-menu-item.active {
  background-color: #505F6D;
  color: white;
}

.vertical-menu-item .rotating-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: .25rem;
}

button.vertical-menu-item {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  margin-right: 0;
  padding-left: .375rem;
  padding-top: .5rem;
  padding-bottom: .625rem;
}

.heading {
  cursor: pointer;
  position: relative;
}

.nav-expanded .heading-children.expanded {
  visibility: visible;
  opacity: 1;
  max-height: 250rem;
  transition: visibility .5s, opacity .5s, max-height .5s;
  transition-timing-function: ease-in-out;
}

.nav-expanded .heading-children.collapsed {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  max-height: .1rem;
  transition: visibility 275ms, opacity 275ms, max-height 280ms;
  transition-timing-function: ease-out;
}

.nav-collapsed .heading-children.expanded {
  display: block;
  position: absolute;
  left: 100%;
  top: -9999rem; /* top: 0; - выпадающее меню */
}

.nav-collapsed .heading-children.collapsed {
  display: none;
}

.nav-expanded .level-1 {
  font-weight: 400;
  transition: background-color .2s;
}

.nav-expanded .level-2 {
  font-weight: 400;
  padding-left: .75rem;
}

.nav-expanded .level-3 {
  padding-left: .625rem;
}

.rotating-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
}

.level-1.expanded .rotating-icon,
.level-2.expanded .rotating-icon {
  transform: rotate(90deg);
  transition: transform 150ms;
  transition-timing-function: ease-in-out;
}

.level-1:not(.expanded) .rotating-icon,
.level-2:not(.expanded) .rotating-icon {
  transform: rotate(0);
  transition: transform 150ms;
  transition-timing-function: ease-in-out;
}

.nav-collapsed .level-1 > .menu-item-text {
  display: inline-block;
  visibility: hidden;
  white-space: nowrap;
  width: 1em;
}

.nav-collapsed .level-1 > .menu-item-text:first-letter {
  visibility: visible;
}

.nav-menu-icon {
  padding-right: .3125rem;
}

.level-1 > .nav-menu-icon {
  font-size: 1.125rem;
}
