<app-modal #childModal [modalTitle]="modalTitle()">
  <div class="app-modal-body">
    <div *ngIf="childModal.visible">
      <app-row-form
        [columns]="columns"
        [item]="item"
        [settings]="settings"
        [isNew]="newItem"
        (valid)="formValid=$event">
      </app-row-form>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-danger" *ngIf="!newItem" (click)="delete()">Delete</button>
    <button type="button" class="btn btn-success" (click)="save()" [disabled]="!formValid">Save</button>
    <button type="button" class="btn btn-primary pull-right" (click)="close()">Close</button>
  </div>
</app-modal>
