<div class="datatable-selection">
  <datatable-scroller
    [scrollbarV]="true"
    [scrollbarH]="true"
    (scroll)="onBodyScroll($event)">
    <div class="datatable-row-wrapper"
         *ngFor="let row of rows; let rowIndex=index">
      <datatable-body-row
        [columns]="columns"
        [row]="row"
        [rowIndex]="rowIndex"
        [(selectedRowIndex)]="selectedRowIndex"
        [actionColumnWidth]="actionColumnWidth"
        (editComplete)="editComplete.emit($event)"
        [actionMenu]="actionMenu"
        [offsetX]="offsetX"
        (selectedRowIndexChange)="selectedRowIndexChange.emit($event)">
      </datatable-body-row>
    </div>
  </datatable-scroller>
  <div
    class="empty-row"
    *ngIf="!rows?.length"
    [innerHTML]="'No data found'">
  </div>
</div>
