.cell-data {
  display: block;
}
.cell-editor {
  display: none;
}
.cell-editing {
  padding: 0 1px;
}
.cell-editing .cell-data {
  display: none;
}
.cell-editing .cell-editor {
  display: block;
}
.cell-editor input{
  width: 100%;
  padding: 1px 3px;
}
.cell-editor select{
  width: 100%;
  height: 27px;
  padding: 1px 3px;
  cursor: pointer;
  background: #ffffff;
}
tr:not(.row-selected):nth-of-type(odd) {
  background-color: #f9f9f9;
}
tr:not(.row-selected):hover {
    background-color: #f5f5f5;
}
.row-selected {
  background-color: #ecf3ff;
}
.cell-selected {
  background-color: #b3c4c7;
}