<div class="df-row df-group">
    <div class="df-col" *ngIf="table.settings.crud">
        <button 
            type="button"
            mat-raised-button
            (click)="createActionClick()"
            [ngStyle]="{'margin-top':'0.6875rem'}">
            {{table.messages.create}}
        </button>
    </div>
    <div class="df-col" *ngIf="table.settings.globalFilter" style="width: 300px;">
        <mat-form-field>
            <input
                matInput 
                placeholder="{{table.messages.search}}" 
                [(ngModel)]="table.dataFilter.globalFilterValue"
                (keypress)="onKeyPressGlobalSearch($event)">
            <span matSuffix><mat-icon>search</mat-icon></span>
        </mat-form-field>
            <!-- <button 
                type="button"
                mat-raised-button
                (click)="onClickGlobalSearch()">{{table.messages.go}}
            </button> -->
    </div>
    <!-- <div class="df-col" *ngIf="table.settings.exportAction">
        <button 
            type="button" 
            mat-raised-button 
            (click)="downloadCsv()"
            [ngStyle]="{'margin-top':'0.6875rem'}">{{table.messages.export}}</button>
    </div> -->
</div>
