*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  background-color: #fff;
  color: #333;
  font-size: 14px;
  font-family: Segoe UI, Arial, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  transition: all 0.3s linear 0s;
  color: #337ab7;
}

/**************/

.navbar {
  height: 2.5rem;
  font-size: .875rem;
  background-color: #505f6d;
}

.main-nav {
  list-style-type: none;
  display: none;
  margin: 0;
  padding: 0;
}

.nav-links,
.logo {
  text-decoration: none;
  color: white;
}

.main-nav li {
  text-align: center;
}

.logo {
  display: inline-block;
  font-size: 1.125rem;
  margin-top: .625rem;
  margin-left: 1.25rem;
}

.nav-links {
  display: block;
  padding: .625rem 0;
}

.nav-links:hover {
  background-color: rgba(0, 0, 0, .1);
}

.nav-links.active {
  box-shadow: 0 .125rem .0625rem rgba(0, 0, 0, .05), 0 0 0 .0625rem rgba(0, 0, 0, .125) inset;
}

.navbar-toggle {
  position: absolute;
  top: .3125rem;
  right: 1.25rem;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
}

.navbar-expand {
  display: block;
  background-color: #505f6d;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  background-color: #505f6d;
  min-width: 10rem;
  box-shadow: 0 .5rem 1rem 0 rgba(0,0,0,0.2);
}

.open>.dropdown-menu {
  display: block;
}

@media screen and (min-width: 48rem) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 2.5rem;
    align-items: center;
  }

  .main-nav {
    display: flex;
    justify-content: flex-end;
    height: 100%;
  }

  .main-nav li {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .nav-links {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
  }

  .dropdown-menu .nav-links {
    padding: .3125rem 1rem;
  }
}

/**************/

.header-nav {
  position: fixed;
  top: 0;
  z-index: 4;
  width: 100%;
}

.body-nav {
  position: fixed;
  top: 2.5rem;
  z-index: 3;
  height: calc(100vh - 2.5rem);
  overflow-x: hidden;
  width: 13.75rem;
}

.body-nav.nav-collapsed {
  width: 4rem;
}

/**************/

.main {
  margin-left: 13.75rem;
  padding: 3.375rem 1.25rem 1.25rem 1.25rem;
  height: 100%;
}

.nav-menu.nav-expanded {
  opacity: 0.95;
}
