.dropdown-filter-menu {
  position: absolute;
  z-index: 2;
  display: none;
  padding: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.filter-menu {
  height: auto;
  overflow-y: auto;
  min-width: 160px;
  max-height: 200px;
}

.filter-menu input[type="datetime-local"] {
  padding: 6px 4px;
}
