.icon {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
}

.icon.asc:before {
  content: "\2B06";
}

.icon.desc:before {
  content: "\2B07";
}

.icon-rightwards:before {
  content: "\27A4";
}

.icon-pencil:before {
  content: "\270E";
}

.icon-reload:before {
  content: "\21bb";
}

.icon-return:before {
  content: "\21b5";
}

.icon-ok:before {
  content: "\2714";
}

.icon-remove:before {
  content: "\2716";
}

.icon-plus:before {
  content: "\002B";
}

.icon-filter {
  display: inline-block;
  width: 0;
  height: 0;
  border: 7.5px solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
  padding: 2.5px;
  box-shadow: inset 0 7px;
}

.icon-filter:before,
.icon-filter:after {
  content: '';
  pointer-events: none;
}

.filter-action {
  margin: 0;
  padding: 8px 10px;
  background-color: transparent;
  border: none;
  outline:none;
  cursor:pointer;
  color: white;
}
