.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-menu span {
  cursor: pointer;
  display: block;
  padding: 4px 3px;
}

.list-menu span:hover:not(.active) {
  background-color: #ccc;
}

.list-menu span.active {
  background-color: #5b9bd5;
  color: #fff;
}

.list-divider {
  height: 1px;
  margin: 3px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.list-menu-row {
  display: flex;
  justify-content: space-between;
}

.list-menu-row span {
  width: 49%;
  text-align: center;
}
