.icon-node:before {
  content: "";
  position: relative;
  display: inline-block;
  border-top: .5em solid;
  border-right: .45em solid transparent;
  border-left: .45em solid transparent;
  top: -1px;
  margin-right: 4px;
  opacity: .75;
  transition: all .3s cubic-bezier(.4,0,.2,1);
  vertical-align: middle;
}
.icon-node.icon-collapsed:before,
.icon-node.icon-collapsing:before {
  transform: rotate(-90deg);
  transition: all .3s cubic-bezier(.4,0,.2,1);
}
