<app-data-table [table]="treeTable"></app-data-table>

<ng-template #cellTemplate let-row="row" let-value="value">
    <div class="datatable-tree-node"
        [ngStyle]="{'padding-left.px': row.level*10}"
        style="cursor: pointer;">
    <i [class]="getIcon(row.node)"
        (click)="onExpand(row.node)">
    </i>
    <span class="datatable-tree-node-content"
        (dblclick)="onExpand(row.node)">
        <i *ngIf="row.node.icon" [ngClass]="row.node.icon"></i>
        {{row.node.name}}
    </span>
    </div>
</ng-template>
