<div class="datatable fixed-header fixed-row scroll-horz"
     [ngStyle]="{'width.px': tableWidth}">
  <loading-indicator [isLoading]="loading"></loading-indicator>
  <ng-filter
    #selectFilter
    [filters]="filters"
    (onFilter)="onFilter($event)">
  </ng-filter>
  <datatable-header
    [columns]="columns"
    [filters]="filters"
    [sortMeta]="sortMeta"
    (onSort)="onSort($event)"
    (onShowColumnMenu)="showColumnMenu($event)"
    [actionColumnWidth]="actionColumnWidth"
    (onClearAllFilters)="selectFilter.clearAllFilters()"
    (onResize)="resizeColumn($event)"
    [offsetX]="offsetX"
    [headerHeight]="headerHeight"
    [settings]="settings">
  </datatable-header>
  <datatable-body
    [columns]="columns"
    [rows]="rows"
    [bodyHeight]="scrollHeight"
    [actionColumnWidth]="actionColumnWidth"
    (editComplete)="onEditComplete($event)"
    [actionMenu]="rowMenu"
    [offsetX]="offsetX"
    [selectedRowIndex]="selectedRowIndex"
    [trackByProp]="trackByProp"
    (scroll)="onBodyScroll($event)"
    (selectedRowIndexChange)="onSelectRow($event)">
  </datatable-body>
  <datatable-footer
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (pageChanged)="onPageChanged($event)">
  </datatable-footer>
</div>
