<div class="df-alert df-alert-danger" *ngIf="this.dataManager.errors">{{this.dataManager.errors}}</div>

<button type="button"
        class="button"
        style="margin-bottom: 5px;"
        *ngIf="settings.crud"
        (click)="createAction()">{{dataManager.settings.messages.create}}
</button>

<app-datatable
  [table]="dataManager"
  [rows]="dataManager.items"
  [loading]="dataManager.loading"
  (filterChanged)="onFilter()"
  (pageChanged)="onPageChanged()"
  (sortChanged)="onSort()"
  (editComplete)="onEditComplete($event)"
  (selectedRowIndexChanged)="onSelectedRow()">
</app-datatable>

<app-modal-edit-form
  #modalEditForm
  [dataManager]="dataManager"
  [zIndex]="zIndexModal">
</app-modal-edit-form>
