<div class="df-alert df-alert-danger" *ngIf="this.crudTable.errors">{{this.crudTable.errors}}</div>

<button type="button"
        class="button"
        style="margin-bottom: 5px;"
        *ngIf="settings.crud"
        (click)="createAction()">{{crudTable.settings.messages.create}}
</button>

<app-datatable
  [table]="crudTable"
  [rows]="crudTable.items"
  [loading]="crudTable.loading"
  [trackByProp]="trackByProp"
  (filterChanged)="onFilter()"
  (pageChanged)="onPageChanged()"
  (sortChanged)="onSort()"
  (editComplete)="onEditComplete($event)"
  (selectedRowIndexChanged)="onSelectedRow($event)">
</app-datatable>

<app-modal-edit-form
  #modalEditForm
  [crudTable]="crudTable"
  [zIndex]="zIndexModal">
</app-modal-edit-form>
