.button {
  background-color: #5b9bd5;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #008CBA;} /* Blue */
.button3 {background-color: #f44336;} /* Red */
.button4 {background-color: #ff9800;} /* Orange */

.button[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: 0.6;
}

.button.active, .button:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}

.datatable-alert {
  display: inline-block;
  padding: 15px;
  background-color: #ffcbc8;
  color: white;
  margin-bottom: 15px;
}

.icon {
  position: relative;
  display: inline-block;
  font-style: normal;
  font-weight: bold;
}

.icon-rightwards:before {
  content: "\27A4";
}

.icon-pencil:before {
  content: "\270E";
}
