<div class="dropdown-filter">

  <div class="dropdown-filter-menu"
       [style.display]="isVisible ? 'block' : 'none' "
       *ngIf="column.filter">
    <app-list-filter
      *ngIf="column.options"
      [table]="table"
      [column]="column"
      [isOpen]="isVisible"
      (filterChanged)="onFilterChanged()"
      (filterClose)="onFilterClose()">
    </app-list-filter>
    <app-number-filter
      *ngIf="!column.options && column.type ==='number'"
      [table]="table"
      [column]="column"
      [isOpen]="isVisible"
      (filterChanged)="onFilterChanged()"
      (filterClose)="onFilterClose()">
    </app-number-filter>
    <app-date-filter
      *ngIf="!column.options && (column.type ==='date' || column.type ==='datetime-local')"
      [table]="table"
      [column]="column"
      [isOpen]="isVisible"
      (filterChanged)="onFilterChanged()"
      (filterClose)="onFilterClose()">
    </app-date-filter>
    <app-string-filter
      *ngIf="!column.options && column.type !=='number' && column.type !=='date' && column.type !=='datetime-local'"
      [table]="table"
      [column]="column"
      [isOpen]="isVisible"
      (filterChanged)="onFilterChanged()"
      (filterClose)="onFilterClose()">
    </app-string-filter>
  </div>

</div>
