<div class="dropdown-filter">

  <div class="dropdown-filter-menu"
       [style.display]="isVisible ? 'block' : 'none' "
       *ngIf="column.filter">
    <app-list-filter
      *ngIf="column.options"
      [table]="table"
      [column]="column"
      [isOpen]="isVisible"
      (filterChanged)="onFilterChanged()"
      (filterClose)="onFilterClose()">
    </app-list-filter>
    <app-string-filter
      *ngIf="!column.options"
      [table]="table"
      [column]="column"
      [isOpen]="isVisible"
      (filterChanged)="onFilterChanged()"
      (filterClose)="onFilterClose()">
    </app-string-filter>
  </div>

</div>
