.topnav, .sidenav {
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

.topnav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  background-color: #5f5f5f;
  color: #f1f1f1;
  padding: 0;
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  line-height: 1;
}

.sidenav {
  position: fixed;
  top: 44px;
  z-index: 1;
  width: 200px;
  height: calc(100vh - 44px);
  background-color: #f1f1f1;
  overflow-x: hidden;
  padding: 20px 0;
}

.sidenav a {
  display: block;
  text-decoration: none;
  padding: 8px;
  color: black;
  font-size: 15px;
  line-height: 1;
}

.topnav a:hover,
.sidenav a:hover {
  background-color: #cccccc;
  color: black;
}

.topnav a.active,
.sidenav a.active {
  background-color: #3498db;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .topnav.responsive + .sidenav {
    top: 0;
  }
}

@media screen and (max-width: 700px) {
  .sidenav {
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
  }
  .sidenav a {float: left;}
  div.main {margin-left: 0;}
}
@media screen and (max-width: 400px) {
  .sidenav a {
    text-align: center;
    float: none;
  }
}

.main {
  margin-left: 200px;
  padding: 54px 20px 20px 20px;
}

/****/

.cell-big-value {
  background-color: lightsalmon;
}

.cell-zero-value {
  background-color: lightgreen;
}

.cell-middle-value {
  background-color: lightBlue;
}

.cell-right {
  justify-content: flex-end;
}

.cell-right input {
  text-align: right;
}

.row-warrior,
.row-warrior .datatable-row-left {
  background-color: lightyellow;
}

.datatable-body-row.row-sorcerer,
.datatable-body-row.row-sorcerer .datatable-row-left {
  background-color: LightSlateGray;
  color: white;
}

.datatable-header-cell.header-cell-demo {
  justify-content: center;
  background-color: lightseagreen;
}

.tooltip {
  visibility: hidden;
  width: 220px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1500;
}

.dt-message {
  display: inline-block;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.dt-message-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}
