<div class="topnav" id="myTopnav">
  <a href="javascript:void(0);">Demo crud data table</a>
  <a [attr.href]="getSourceLink()" target="_blank" style="float:right">Source</a>
  <a href="javascript:void(0);" class="icon" (click)="responsiveMenu()">&#9776;</a>
</div>

<div class="sidenav">
  <a routerLinkActive="active" routerLink="/basic-demo">Basic</a>
  <a routerLinkActive="active" routerLink="/tree-table-demo">Tree table</a>
  <a routerLinkActive="active" routerLink="/data-table-demo">Data table</a>
  <a routerLinkActive="active" routerLink="/master-detail-demo">Master detail</a>
  <a routerLinkActive="active" routerLink="/modal-form-demo">Dynamic forms</a>
  <a routerLinkActive="active" routerLink="/modal-data-table-demo">Modal data table</a>
  <a routerLinkActive="active" routerLink="/nested-modals-demo">Nested modals</a>
  <a routerLinkActive="active" routerLink="/multiple-sort-demo">Multiple sorting</a>
  <a routerLinkActive="active" routerLink="/row-group-demo">Row group</a>
  <a routerLinkActive="active" routerLink="/row-group-multiple-demo">Row group multiple</a>
  <a routerLinkActive="active" routerLink="/global-filter-demo">Global filtering</a>
  <a routerLinkActive="active" routerLink="/row-group-summary-demo">Summary rows with grouping</a>
  <a routerLinkActive="active" routerLink="/summary-row-demo">Summary row</a>
  <a routerLinkActive="active" routerLink="/multiple-selection-demo">Multiple selection</a>
  <a routerLinkActive="active" routerLink="/live-demo">Live updates</a>
  <a routerLinkActive="active" routerLink="/virtual-scroll-demo">Virtual scroll</a>
  <a routerLinkActive="active" routerLink="/css-demo">CSS</a>
  <a routerLinkActive="active" routerLink="/header-demo">Column groups template</a>
  <a routerLinkActive="active" routerLink="/template-demo">Templates</a>
</div>

<div class="main">
  <router-outlet></router-outlet>
</div>
