<select class="dt-filter-select sm"
        [(ngModel)]="matchMode"
        (change)="onModeChange()">
  <option *ngFor="let opt of operators" [value]="opt.value">{{opt.text}}</option>
</select>
<input class="dt-filter-input"
       #filterInput
       [attr.type]="column.type"
       [attr.placeholder]="isRangeFilter ? '>' : column.name"
       *ngIf="isValueFilter"
       [(ngModel)]="value"/>
<input class="dt-filter-input"
       [attr.type]="column.type"
       [attr.placeholder]="'<'"
       *ngIf="isRangeFilter"
       [(ngModel)]="valueTo"/>
<ul class="list-menu">
  <ng-template [ngIf]="(column.type ==='date' || column.type ==='datetime-local')">
    <li (click)="lastDate('year')"><span>{{table.messages.lastYear}}</span></li>
    <li (click)="lastDate('month')"><span>{{table.messages.lastMonth}}</span></li>
    <li (click)="lastDate('day')"><span>{{table.messages.lastDay}}</span></li>
    <li (click)="lastDate('hour')"><span>{{table.messages.lastHour}}</span></li>
  </ng-template>
</ul>

<div class="list-divider"></div>
<div class="list-menu-row">
  <button class="dt-button dt-button-sm" (click)="onClickOk()" *ngIf="isValueFilter">OK</button>
  <button class="dt-button dt-button-sm" (click)="onClickCancel()">{{table.messages.cancel}}</button>
  <button class="dt-button dt-button-sm" (click)="onClickClear()">{{table.messages.clear}}</button>
</div>
