<select class="dt-filter-select sm"
        [(ngModel)]="matchMode"
        (change)="onModeChange()">
  <option *ngFor="let opt of operators" [value]="opt.value">{{opt.text}}</option>
</select>
<input class="dt-filter-input"
       #filterInput
       [attr.type]="column.type"
       [attr.placeholder]="isRangeFilter ? '>' : column.name"
       *ngIf="isValueFilter"
       [(ngModel)]="value"
       (input)="onFilterInput()"/>
<input class="dt-filter-input"
       [attr.type]="column.type"
       [attr.placeholder]="'<'"
       *ngIf="isRangeFilter"
       [(ngModel)]="valueTo"
       (input)="onFilterInput()"/>
<ul class="list-menu">
  <li>
      <span (click)="uncheckAll()">
        <i class="icon icon-remove"></i>&nbsp;&nbsp;{{table.messages.clear}}
      </span>
  </li>
  <ng-template [ngIf]="(column.type ==='date' || column.type ==='datetime-local')">
    <li (click)="lastDate('year')"><span>{{table.messages.lastYear}}</span></li>
    <li (click)="lastDate('month')"><span>{{table.messages.lastMonth}}</span></li>
    <li (click)="lastDate('day')"><span>{{table.messages.lastDay}}</span></li>
    <li (click)="lastDate('hour')"><span>{{table.messages.lastHour}}</span></li>
  </ng-template>
</ul>
