<select class="dt-filter-select sm"
        [(ngModel)]="matchMode"
        (change)="onModeChange()">
  <option *ngFor="let opt of operators" [value]="opt.value">{{opt.text}}</option>
</select>
<input class="dt-filter-input"
       #filterInput
       [attr.placeholder]="column.name"
       *ngIf="isValueFilter"
       [(ngModel)]="value"/>

<div class="list-divider"></div>
<div class="list-menu-row">
  <button class="dt-button dt-button-sm" (click)="onClickOk()" *ngIf="isValueFilter">OK</button>
  <button class="dt-button dt-button-sm" (click)="onClickCancel()">{{table.messages.cancel}}</button>
  <button class="dt-button dt-button-sm" (click)="onClickClear()">{{table.messages.clear}}</button>
</div>
