<select class="dt-filter-select sm"
        [(ngModel)]="matchMode"
        (change)="onModeChange()">
  <option *ngFor="let opt of operators" [value]="opt.value">{{opt.text}}</option>
</select>
<input class="dt-filter-input"
       #filterInput
       [attr.placeholder]="column.name"
       *ngIf="isValueFilter"
       [(ngModel)]="value"/>

<ul class="list-menu">
  <li class="list-divider"></li>
  <li>
    <div class="list-menu-row">
        <span class="active" (click)="onClickOk()" *ngIf="isValueFilter">OK</span>
        <span class="active" (click)="onClickCancel()">{{table.messages.cancel}}</span>
        <span class="active" (click)="onClickClear()">{{table.messages.clear}}</span>
    </div>
  </li>
</ul>
