<span class="cell-data" *ngIf="!editing" title="{{value}}">
  {{value}}
</span>

<div class="cell-editor" *ngIf="column.editable && editing">
  <select
    #selectElement
    *ngIf="column.options"
    [(ngModel)]="row[column.name]"
    [id]="column.name"
    (keydown)="onCellEditorKeydown($event)"
    (focus)="oldValue=row[column.name]"
    (blur)="switchCellToViewMode()">
    <option *ngFor="let opt of getOptions(row)" [value]="opt.id">{{opt.name}}</option>
  </select>

  <input [attr.type]="column.type === 'date' ? 'datetime-local' : 'text'"
         #inputElement
         *ngIf="!column.options"
         [(ngModel)]="row[column.name]"
         (keydown)="onCellEditorKeydown($event)"
         (focus)="oldValue=row[column.name]"
         (blur)="switchCellToViewMode()"/>
</div>
