<div class="datatable-selection">
  <datatable-scroller
    [scrollbarV]="true"
    [scrollbarH]="true"
    (scroll)="onBodyScroll($event)">
    <div class="datatable-row-wrapper"
         *ngFor="let row of rows; let rowIndex=index; trackBy: rowTrackingFn">
      <datatable-body-row
        [table]="table"
        [row]="row"
        [rowIndex]="rowIndex"
        [(selectedRowIndex)]="selectedRowIndex"
        (editComplete)="onEditComplete($event)"
        [offsetX]="offsetX"
        (selectedRowIndexChange)="selectedRowIndexChange.emit($event)">
      </datatable-body-row>
    </div>
  </datatable-scroller>
  <div
    class="empty-row"
    *ngIf="!rows?.length"
    [style.width.px]="table.columnsTotalWidth">
    <ng-container *ngIf="loading">{{table.settings.messages.loading}}</ng-container>
    <ng-container *ngIf="!loading">{{table.settings.messages.empty}}</ng-container>
  </div>
</div>
