<div class="datatable-row-left datatable-row-group"
     [ngStyle]="stylesByGroup()">

  <div class="datatable-body-cell"
       style="text-align: center;"
       [ngStyle]="{'width.px': table.actionColumnWidth}">

    <ng-template ngFor let-action [ngForOf]="table.actionMenu">
        <span class="row-menu"
              [ngClass]="action.icon"
              *ngIf="!action.disabled"
              title="{{action.label}}"
              (click)="actionClick($event, action, rowIndex)">
        </span>
    </ng-template>

    <span *ngIf="!table.actionMenu">{{rowIndex+1}}</span>
  </div>

  <ng-container *ngFor="let column of table.frozenColumns; let colIndex = index; trackBy: table.columnTrackingFn">
    <app-datatable-body-cell
      *ngIf="!column.editable"
      tabindex="-1"
      [colIndex]="colIndex"
      [row]="row"
      [column]="column">
    </app-datatable-body-cell>
    <app-datatable-body-cell-edit
      *ngIf="column.editable"
      tabindex="-1"
      [table]="table"
      [colIndex]="colIndex"
      [row]="row"
      [column]="column">
    </app-datatable-body-cell-edit>
  </ng-container>

</div>

<div class="datatable-row-center datatable-row-group">
  <ng-container *ngFor="let column of table.scrollableColumns; let colIndex = index; trackBy: table.columnTrackingFn">
    <app-datatable-body-cell
      *ngIf="!column.editable"
      tabindex="-1"
      [colIndex]="colIndex"
      [row]="row"
      [column]="column">
    </app-datatable-body-cell>
    <app-datatable-body-cell-edit
      *ngIf="column.editable"
      tabindex="-1"
      [table]="table"
      [colIndex]="colIndex"
      [row]="row"
      [column]="column">
    </app-datatable-body-cell-edit>
  </ng-container>
</div>
