<div class="datatable-selection">
  <app-datatable-scroller
    [scrollbarV]="true"
    [scrollbarH]="true"
    (scroll)="onBodyScroll($event)">
    <div class="datatable-row-wrapper"
         *ngFor="let row of rows; let rowIndex=index; trackBy: rowTrackingFn">
      <app-datatable-body-row
        [table]="table"
        [row]="row"
        [rowIndex]="rowIndex"
        [offsetX]="offsetX">
      </app-datatable-body-row>
    </div>
  </app-datatable-scroller>
  <div
    class="empty-row"
    *ngIf="!rows?.length"
    [style.width.px]="table.columnsTotalWidth">
    <ng-container *ngIf="loading">{{table.settings.messages.loading}}</ng-container>
    <ng-container *ngIf="!loading">{{table.settings.messages.empty}}</ng-container>
  </div>
</div>
