<div class="datatable-row-left"
     [ngStyle]="stylesByGroup()">

  <app-datatable-body-cell-action
    [table]="table"
    [rowIndex]="rowIndex">
  </app-datatable-body-cell-action>

  <ng-container *ngFor="let column of table.frozenColumns; let colIndex = index; trackBy: table.columnTrackingFn">
    <app-datatable-body-cell
      *ngIf="!column.editable"
      tabindex="-1"
      [table]="table"
      [colIndex]="colIndex"
      [row]="row"
      [column]="column">
    </app-datatable-body-cell>
    <app-datatable-body-cell-edit
      *ngIf="column.editable"
      tabindex="-1"
      [table]="table"
      [colIndex]="colIndex"
      [row]="row"
      [column]="column">
    </app-datatable-body-cell-edit>
  </ng-container>

</div>

<div class="datatable-row-center">
  <ng-container *ngFor="let column of table.scrollableColumns; let colIndex = index; trackBy: table.columnTrackingFn">
    <app-datatable-body-cell
      *ngIf="!column.editable"
      tabindex="-1"
      [table]="table"
      [colIndex]="colIndex"
      [row]="row"
      [column]="column">
    </app-datatable-body-cell>
    <app-datatable-body-cell-edit
      *ngIf="column.editable"
      tabindex="-1"
      [table]="table"
      [colIndex]="colIndex"
      [row]="row"
      [column]="column">
    </app-datatable-body-cell-edit>
  </ng-container>
</div>
