<div class="datatable-row-left datatable-row-group"
     [ngStyle]="stylesByGroup()">

  <div class="datatable-body-cell"
       [ngStyle]="{'width.px': table.dimensions.actionColumnWidth}">
  </div>

  <ng-container *ngFor="let column of table.frozenColumns; let colIndex = index; trackBy: table.columnTrackingFn">
    <app-datatable-body-cell
      tabindex="-1"
      [table]="table"
      [colIndex]="colIndex"
      [row]="row"
      [column]="column">
    </app-datatable-body-cell>
  </ng-container>
</div>

<div class="datatable-row-center datatable-row-group">
  <ng-container *ngFor="let column of table.scrollableColumns; let colIndex = index; trackBy: table.columnTrackingFn">
    <app-datatable-body-cell
      tabindex="-1"
      [table]="table"
      [colIndex]="colIndex"
      [row]="row"
      [column]="column">
    </app-datatable-body-cell>
  </ng-container>
</div>
