<div class="detail-view" *ngIf="item">
  <p>
    <button type="button" class="button" (click)="closeDetails()">Back</button>

    <button class="button button4"
       style="float: right;"
       *ngIf="settings.crud"
       (click)="toggleForm()"
       [ngClass]="{'active': edit}">
      Edit
    </button>
  </p>

  <table class="table table-striped table-bordered detail-view" *ngIf="!edit">
    <tbody>
    <tr *ngFor="let column of columns">
      <th>{{column.title}}</th>
      <td>{{format(item[column.name], column)}}</td>
    </tr>
    </tbody>
  </table>

  <div class="detail-form" *ngIf="edit">
    <app-row-form
      [columns]="columns"
      [item]="item"
      [settings]="settings"
      (valid)="formValid=$event">
    </app-row-form>
    <div class="form-group">
      <button type="button" class="button button3" (click)="deleteItem()">Delete</button>
      <div style="float: right;">
        <button type="button" class="button button1" (click)="saveItem()" [disabled]="!formValid">Save</button>
        <button type="button" class="button" (click)="closeForm()">Cancel</button>
      </div>
    </div>
  </div>

</div>
