<div class="datatable-row-wrapper" *ngFor="let node of nodes">
  <div class="datatable-body-row">

    <div class="datatable-row-left datatable-row-group"
         [ngStyle]="stylesByGroup()">
      <div class="datatable-body-cell"
           [ngStyle]="{'width.px': 250}">

        <div class="treenode"
             style=" cursor: pointer;">
          <i class="icon-node"
             [ngStyle]="{'padding-left.px': level*10}"
             [ngClass]="{'icon-node': !isLeaf(node), 'icon-collapsed': !isLeaf(node) && node.isExpanded}"
             (click)="onExpand(node)">
          </i>
          <span class="treenode-content"
                (dblclick)="onExpand(node)">
            {{node.name}}
          </span>
        </div>
      </div>
    </div>

    <div class="datatable-row-center datatable-row-group">
      <datatable-body-cell
        *ngFor="let column of columns; let colIndex = index"
        tabindex="-1"
        [colIndex]="colIndex"
        [row]="node.data"
        [column]="column">
      </datatable-body-cell>
    </div>

  </div>

  <tree-table-node
    [nodes]="node.children"
    *ngIf="node.children && node.isExpanded"
    [columns]="columns"
    [level]="level+1">
  </tree-table-node>

</div>
