<div class="datatable fixed-header fixed-row scroll-horz">
  <app-datatable-header
    [table]="table">
  </app-datatable-header>

  <div class="datatable-body">
    <div class="datatable-selection">
      <app-datatable-body-scroll
        [table]="table">
        <app-tree-table-node
          [table]="table"
          [nodes]="nodes"
          [service]="service"
          [columns]="table.columns"
          (editComplete)="onCellEditComplete($event)"
          (requestNodes)="onRequestNodes($event)">
        </app-tree-table-node>
      </app-datatable-body-scroll>
    </div>
  </div>

</div>
