<div class="datatable fixed-header fixed-row scroll-horz">
  <app-datatable-header
    [table]="table"
    [offsetX]="offsetX">
  </app-datatable-header>

  <div class="datatable-body">
    <div class="datatable-selection">
      <app-datatable-scroller
        [scrollbarV]="true"
        [scrollbarH]="true"
        (scroll)="onBodyScroll($event)">
        <app-tree-table-node
          [nodes]="nodes"
          [service]="service"
          [columns]="table.columns"
          [offsetX]="offsetX"
          (editComplete)="onCellEditComplete($event)"
          (requestNodes)="onRequestNodes($event)">
        </app-tree-table-node>
      </app-datatable-scroller>
    </div>
  </div>

</div>
