.datatable {
  display: block;
  overflow: hidden;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
}

.datatable *,
.datatable *:before,
.datatable *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.datatable.scroll-vertical .datatable-body {
  overflow-y: auto;
}

.datatable.scroll-vertical .datatable-body .datatable-row-wrapper {
  position: absolute;
}

.datatable.scroll-horz .datatable-body {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.datatable.fixed-header .datatable-header .datatable-header-inner {
  white-space: nowrap;
}

.datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.datatable.fixed-row .datatable-scroll {
  white-space: nowrap;
}

.datatable.fixed-row .datatable-scroll .datatable-body-row {
  white-space: nowrap;
}

.datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.datatable.fixed-row .datatable-scroll .datatable-body-row .datatable-body-group-cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.datatable .datatable-body-row,
.datatable .datatable-header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-flow: row;
}

.datatable .datatable-body-cell,
.datatable .datatable-header-cell {
  overflow-x: hidden;
  vertical-align: top;
  display: inline-block;
}

.datatable .datatable-body-cell:focus,
.datatable .datatable-header-cell:focus {
  outline: none;
}

.datatable .datatable-row-left,
.datatable .datatable-row-right {
  z-index: 9;
}

.datatable .datatable-row-left,
.datatable .datatable-row-center,
.datatable .datatable-row-group,
.datatable .datatable-row-right {
  position: relative;
}

.datatable .datatable-header {
  display: block;
  overflow: hidden;
}

.datatable .datatable-header .datatable-header-inner {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-items: stretch;
}

.datatable .datatable-header .datatable-header-cell {
  position: relative;
  display: inline-block;
}

.datatable .datatable-header .datatable-header-cell.sortable .datatable-header-cell-wrapper {
  cursor: pointer;
}

.datatable .datatable-header .datatable-header-cell.longpress .datatable-header-cell-wrapper {
  cursor: move;
}

.datatable .datatable-header .datatable-header-cell .sort-btn {
  line-height: 100%;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
}

.datatable .datatable-header .datatable-header-cell .resize-handle {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  padding: 0 4px;
  visibility: hidden;
  cursor: ew-resize;
}

.datatable .datatable-header .datatable-header-cell.resizeable:hover .resize-handle {
  visibility: visible;
}

.datatable .datatable-body {
  position: relative;
  z-index: 10;
  display: block;
}

.datatable .datatable-body .datatable-scroll {
  display: inline-block;
}

.datatable .datatable-body .datatable-row-detail {
  overflow-y: hidden;
}

.datatable .datatable-body .datatable-row-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.datatable .datatable-body .datatable-body-row {
  outline: none;
}

.datatable .datatable-body .datatable-body-row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.datatable .datatable-footer {
  display: block;
  width: 100%;
}

.datatable .datatable-footer .datatable-footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.datatable .datatable-footer .selected-count .page-count {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 40%;
  flex: 1 1 40%;
}

.datatable .datatable-footer .selected-count .datatable-pager {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 60%;
  flex: 1 1 60%;
}

.datatable .datatable-footer .page-count {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 20%;
  flex: 1 1 20%;
}

.datatable .datatable-footer .datatable-pager {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 80%;
  flex: 1 1 80%;
  text-align: right;
}

.datatable .datatable-footer .datatable-pager .pager,
.datatable .datatable-footer .datatable-pager .pager li {
  padding: 0;
  margin: 0;
  display: inline-block;
  list-style: none;
}

.datatable .datatable-footer .datatable-pager .pager li,
.datatable .datatable-footer .datatable-pager .pager li a {
  outline: none;
}

.datatable .datatable-footer .datatable-pager .pager li a {
  cursor: pointer;
  display: inline-block;
}

.datatable .datatable-footer .datatable-pager .pager li.disabled a {
  cursor: not-allowed;
}

/******/
.datatable-header-cell {
  background-color: #5b9bd5;
  color: white;
  user-select: none;
  height: 40px;
  line-height: 40px;
  padding: 0 3px;
}

.datatable-header-cell:hover {
  background-color: #337ab7;
}

.datatable-header-cell:hover .column-menu {
  visibility: visible;
}

.datatable-row-left {
  background-color: white;
}

.datatable-body-cell {
  height: 30px;
  line-height: 30px;
  padding: 0 3px;
}

.datatable-body-cell,
.datatable-header-cell {
  border-right: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

.datatable-row-left .datatable-body-cell:first-child,
.datatable-row-left .datatable-header-cell:first-child {
  border-left: 1px solid #c6c6c6;
}

.column-title {
  color: white;
}

.column-title:hover {
  cursor: pointer;
}

.column-menu {
  position: absolute;
  top: 50%;
  right: 10px; /* - resize-handle */
  margin-top: -6px; /* (height + padding)/2 */
  text-align: right;
  visibility: hidden;
}

.column-menu:hover {
  cursor: pointer;
}

.is-filter {
  visibility: visible;
}

.cell-data {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cell-editor {
  display: none;
  width: 100%;
  height: 100%;
}

.cell-editing {
  padding: 0;
}

.cell-editing .cell-data {
  display: none;
}

.cell-editing .cell-editor {
  display: block;
}

.cell-editor input,
.cell-editor select {
  width: 100%;
  height: 100%;
  padding: 0 3px;
  outline: 0;
  border: 1px solid green;
}

.cell-editor select {
  cursor: pointer;
  background: #ffffff;
}

.row-selected {
  background-color: #ecf3ff;
}

.row-selected .datatable-row-left {
  background-color: #ecf3ff;
}

.cell-selected {
  background-color: #b3c4c7;
}

.row-menu {
  color: #337ab7;
  cursor: pointer;
}

.empty-row {
  padding: 0 0 5px 5px;
}

.datatable-group-header {
  border-right: solid 1px #D9D8D9;
  border-bottom: solid 1px #D9D8D9;
  border-left: solid 1px #D9D8D9;
  height: 30px;
  line-height: 30px;
  padding: 0 3px;
}

.datatable-group-header,
.datatable-group-header .datatable-row-left,
.datatable-group-row,
.datatable-group-row .datatable-row-left {
  background: #f5f5f5;
  color: grey;
  font-weight: bold;
}

.column-resizer-helper {
  width: 2px;
  position: absolute;
  z-index: 10;
  display: none;
  background: green;
  top: 0;
}

.datatable-unselectable .datatable-header-cell:hover {
  background-color: #5b9bd5;
}

.datatable-unselectable .datatable-header-cell:hover .column-menu {
  visibility: hidden;
}

.action-column {
 text-align: center;
}
