.dropdown-filter {
  position: relative;
}

.dropdown-filter-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 11;
  display: none;
  height: auto;
  overflow-y: auto;
  padding: 3px;
  min-width: 160px;
  max-height: 200px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
