@import "./datatable.css";
@import "./alerts.css";
@import "./buttons.css";
@import "./checkbox.css";
@import "./radio.css";
@import "./clearable-input.css";
@import "./forms.css";
@import "./icons.css";
@import "./spinners.css";
@import "./tables.css";
@import "./list-menu.css";
@import "./pagination.css";
@import "./dropdown-menu.css";
@import "./input-group.css";
