<div class="datatable-row-left"
     [ngStyle]="stylesByGroup()">

  <div class="datatable-body-cell"
       [ngStyle]="{'width.px': table.dimensions.actionColumnWidth}">
  </div>

  <ng-container *ngFor="let column of table.frozenColumns; trackBy: table.columnTrackingFn">
    <dt-body-cell
      tabindex="-1"
      [table]="table"
      [row]="row"
      [column]="column">
    </dt-body-cell>
  </ng-container>
</div>

<div class="datatable-row-center">
  <ng-container *ngFor="let column of table.scrollableColumns; trackBy: table.columnTrackingFn">
    <dt-body-cell
      tabindex="-1"
      [table]="table"
      [row]="row"
      [column]="column">
    </dt-body-cell>
  </ng-container>
</div>
