.datatable *,
.datatable *::before,
.datatable *::after {
  box-sizing: border-box;
}

.datatable {
  display: flex;
  flex-direction: column;
  position: relative;
}

.datatable-header-cell,
.datatable-body-cell,
.datatable-body-group-cell {
  display: flex;
  align-items: center;
  position: relative;
}

.datatable-body-cell,
.datatable-body-group-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed-header .datatable-header-row {
  white-space: nowrap;
}

.fixed-header .datatable-header-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed-header .dt-sort-header {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.datatable-body-row,
.datatable-body-row > div,
.datatable-header-row,
.datatable-header-row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.datatable-body-cell:focus,
.datatable-header-cell:focus {
  outline: none;
}

.datatable-row-left,
.datatable-row-right {
  z-index: 1;
}

.datatable-row-left,
.datatable-row-center,
.datatable-row-right {
  position: relative;
  flex-shrink: 0;
}

.datatable-header {
  display: block;
  overflow: hidden;
}

.datatable-body {
  position: relative;
  display: block;
}

.datatable-body-row {
  white-space: nowrap;
  outline: none;
}

/******/
.datatable-header-row {
  min-height: 40px;
}

.datatable-header-cell {
  background-color: #5b9bd5;
  color: white;
  user-select: none;
}

.datatable-header-cell:hover {
  background-color: #337ab7;
}

.datatable-header-cell:hover .column-menu-icon {
  visibility: visible;
}

.datatable-row-left {
  background-color: white;
}

.datatable-body-cell,
.datatable-header-cell {
  padding: 4px 3px;
  border-right: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

.datatable-body-cell:focus {
  box-shadow:0px 0px 0px 2px #5b9bd5 inset;
}

.datatable-row-left {
  border-left: 1px solid #c6c6c6;
}

.dt-dropdown + .datatable-body {
  border-top: 1px solid #c6c6c6;
}

.dt-sort-header {
  cursor: pointer;
}

.column-menu-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* - resize-handle */
  margin-top: -6px; /* (height + padding)/2 */
  text-align: right;
  visibility: hidden;
  cursor: pointer;
}

.is-filter {
  visibility: visible;
}

.cell-editing {
  padding: 0;
  margin: 0;
}

.cell-error input:focus,
.cell-error select:focus {
  border: 1px solid red;
}

.cell-error {
  box-shadow:0px 0px 0px 1px red inset;
}

.row-selected {
  background-color: #ecf3ff;
  color: black;
}

.row-selected .datatable-row-left {
  background-color: #ecf3ff;
  color: black;
}

.cell-selected {
  background-color: #b3c4c7;
}

.datatable-empty-row {
  padding: 0 0 5px 5px;
}

.datatable-group-header {
  border-right: solid 1px #D9D8D9;
  border-bottom: solid 1px #D9D8D9;
}

.datatable-group-header .datatable-body-cell {
  border: none;
}

.datatable-group-header,
.datatable-group-header .datatable-row-left,
.datatable-group-row,
.datatable-group-row .datatable-row-left {
  background: #f5f5f5;
  color: grey;
  font-weight: bold;
}

.column-resizer-helper {
  width: 2px;
  position: absolute;
  z-index: 10;
  display: none;
  background: green;
  top: 0;
}

.datatable-unselectable .datatable-header-cell:hover {
  background-color: #5b9bd5;
}

.datatable-unselectable .datatable-header-cell:hover .column-menu-icon {
  visibility: hidden;
}

.action-cell {
  justify-content: center;
}

.cell-changed::before {
  content: '';
  border: 3px solid;
  border-color: currentColor currentColor transparent transparent;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: #5b9bd5;
}

.dropdown-filter-menu {
  position: absolute;
  z-index: 2;
  display: none;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.filter-action {
  margin: 0;
  padding: 8px 10px;
  background-color: transparent;
  border: none;
  outline:none;
  cursor:pointer;
  color: white;
}
