<div class="datatable fixed-header fixed-row scroll-horz">
  <app-datatable-header
    [table]="treeTable">
  </app-datatable-header>

  <div class="datatable-body"
      appBodyScroll
      appBodyMouseover
      appBodyKeydown
      appBodyClick
      appBodyDblClick
      appBodyContextMenu
      [table]="treeTable">
        <app-tree-table-node
          [treeTable]="treeTable"
          [nodes]="treeTable.nodes"
          (requestNodes)="onRequestNodes($event)">
        </app-tree-table-node>
  </div>

</div>
