<div class="datatable-header-inner">

  <div class="datatable-row-left">
    <div class="datatable-header-cell"
         *ngFor="let column of frozenColumns; let colIndex = index; trackBy: columnTrackingFn"
         [ngStyle]="{'width.px': column.width}"
         appResizeable
         [resizeEnabled]="column.resizeable"
         [minWidth]="table.minWidthColumn"
         [maxWidth]="table.maxWidthColumn"
         (resize)="onColumnResized($event, column)">

      <ng-template [ngIf]="colIndex == 0 && table.settings.filter">
        <i class="icon-filter"
           [style.visibility]="(!table.hasFilter()) ? 'hidden' : 'visible' "
           style="cursor: pointer;"
           (click)="clearAllFilters()"
           [title]="table.settings.messages.clearFilters">
        </i>
      </ng-template>
      <ng-template [ngIf]="colIndex > 0">
          <span class="column-title" (click)="onSort(column)">
          {{column.title}}
          <i class="icon"
             *ngIf="column.sortable"
             [ngClass]="table.sorter.getDirection(column.name)">
          </i>
          </span>
        <i *ngIf="column.filter"
           (click)="clickColumnMenu($event, column)"
           [ngClass]="{'is-filter': table.isFilter(column)}"
           class="icon-filter column-menu">
        </i>
      </ng-template>
    </div>
  </div>

  <div class="datatable-row-center"
       [ngStyle]="stylesByGroup()">
    <div class="datatable-header-cell"
         *ngFor="let column of table.scrollableColumns; let colIndex = index; trackBy: columnTrackingFn"
         [ngStyle]="{'width.px': column.width}"
         appResizeable
         [resizeEnabled]="column.resizeable"
         [minWidth]="table.minWidthColumn"
         [maxWidth]="table.maxWidthColumn"
         (resize)="onColumnResized($event, column)">

            <span class="column-title" (click)="onSort(column)">
            {{column.title}}
            <i class="icon"
               *ngIf="column.sortable"
               [ngClass]="table.sorter.getDirection(column.name)">
            </i>
            </span>
      <i *ngIf="column.filter"
         (click)="clickColumnMenu($event, column)"
         [ngClass]="{'is-filter': table.isFilter(column)}"
         class="icon-filter column-menu">
      </i>
    </div>
  </div>

</div>

