.github-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 2.4rem;
  width: 2.4rem;
  color: white;
  margin-right: 2rem;
}

.github-icon:hover {
  opacity: .8;
}

.datatable-header-row {
  min-height: 4rem;
}

.cell-big-value {
  background-color: lightsalmon;
}

.cell-zero-value {
  background-color: lightgreen;
}

.cell-middle-value {
  background-color: lightBlue;
}

.cell-right {
  justify-content: flex-end;
}

.cell-right input {
  text-align: right;
}

.datatable-body-row.row-warrior,
.datatable-body-row.row-warrior .dt-sticky {
  background-color: lightyellow;
}

.datatable-body-row.row-sorcerer,
.datatable-body-row.row-sorcerer .dt-sticky {
  background-color: LightSlateGray;
  color: white;
}

.datatable-header-cell.header-cell-demo {
  justify-content: center;
  background-color: lightseagreen;
}

.tooltip {
  visibility: hidden;
  width: 22rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: .6rem;
  padding: .5rem 0;
  position: absolute;
  z-index: 1500;
}

.dt-message {
  display: inline-block;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: .1rem solid transparent;
  border-radius: .25rem;
}

.dt-message-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* PanelDemoComponent */
.panel-demo1 .ui-modal-header { background-color: red !important; }
.panel-demo2 .ui-modal-header { background-color: #4CAF50 !important; }
.panel-demo3 .ui-modal-header { background-color: #ff9800 !important; }

/* MultiSelectDemoComponent */
.multi-select-demo {width: 60rem;}
.multi-select-demo .datatable-body-cell {padding: 0; margin: 0;}
.multi-select-demo .datatable-body-cell > .cell-data,
.multi-select-demo .datatable-body-cell > span:first-child {padding: .4rem .3rem;}
.multi-select-demo-block {position: relative;}
.multi-select-demo-block .dt-dropdown-select-list {width: 25rem;}

/* FrozenTableDemoComponent */
.frozen-table-demo {display: flex;}
.frozen-table-demo .tab2 {overflow-x: auto;}
.frozen-table-demo .frozen .dt-scroller {overflow-y: hidden; overflow-x: scroll}

/* VerticalGroupDemoComponent */
.vertical-group-demo {display: flex;}
.vertical-group-demo .tab2 {overflow-x: auto;}
.vertical-group-demo .vertical .cell-data {transform: rotate(-90deg); overflow: visible;}
.vertical-group-demo .vertical .datatable-header-cell, .vertical .datatable-body-cell {width: 5rem;}
.vertical-group-demo .vertical .datatable-body {overflow-y: hidden; overflow-x: scroll}

/* DynamicFormDemoComponent */
.dynamic-form-demo {display: block; width: 35rem;}

/* DualListBoxDemoComponent */
.dual-list-box-demo {min-width: 40rem; max-width: 60rem}

/* ScrollerDemoComponent */
.scroller-demo .sc-row {height: 4rem;}
.scroller-demo.dt-scroller {width: 20rem;}

/* SelectListDemoComponent */
.select-list-demo {display: flex;}
.select-list-demo .sl-column {margin-right: 3rem; width: 25rem; padding: 1rem; border: .1rem solid #eee; border-radius: .1rem;}

/* DraggableDirectiveDemoComponent */
.draggable-directive-demo .dd-box {position: absolute; width: 20rem; height: 20rem;}
.draggable-directive-demo .box1 {background-color: #009ccc;}
.draggable-directive-demo .box2 {background-color: #f2cb1d; left: 50rem;}

/* ResizableDirectiveDemoComponent */
.resizable-directive-demo .dd-box {position: absolute; width: 20rem; height: 20rem;}
.resizable-directive-demo .box1 {background-color: #009ccc;}

/* PaginationDemoComponent */
.pagination-demo {width: 40rem;}

/* ModalSelectDemoComponent */
.modal-select-demo {display: block; width: 30rem;}

/* InlineEditDemoComponent */
.inline-edit-demo {display: flex; height: 4rem;}
.inline-edit-demo-cell.dt-inline-editor {width: 20rem; line-height: 4rem; border: .1rem solid #eee;}

/* DropdownSelectDemoComponent */
.dropdown-select-demo {display: flex;}
.dropdown-select-demo .sl-column {margin-right: 3rem; width: 25rem;}

/* DragDropDemoComponent */
.drag-drop-demo { display: flex; }
.drag-drop-demo .dd-column { width: 20%; min-height: 50rem; }
.drag-drop-demo .dd-column + .dd-column { margin-left: 1rem; }
.drag-drop-demo .dd-column:nth-child(1) { background: rgb(255, 255, 219); }
.drag-drop-demo .dd-column:nth-child(2) { background: rgb(236, 236, 191); }
.drag-drop-demo .dd-column:nth-child(3) { background: rgb(253, 214, 162); }
.drag-drop-demo .dd-column:nth-child(4) { background: rgb(162, 226, 253); }
.drag-drop-demo .dd-column:nth-child(5) { background: rgb(162, 253, 200); }
.drag-drop-demo .dd-issue {
  background: rgba(0, 0, 0, .1);
  border-radius: .4rem;
  margin-bottom: .4rem;
  cursor: move;
  position: relative;
  color: #000;
  overflow: hidden;
}
.drag-drop-demo .dd-issue:hover { background: rgba(0, 0, 0, .15); }
.drag-drop-demo .dd-title { background: rgba(0, 0, 0, .1); padding: .2rem .4rem; }
.drag-drop-demo .dd-text { padding: .3rem .4rem .1rem; line-height: 120%; }

/* DropdownDirectiveDemoComponent */
.dropdown-directive-demo .navbar,
.dropdown-directive-demo .navbar-expand,
.dropdown-directive-demo .dropdown-menu
{ background-color: #2578cf; }

/* HeaderDemoComponent */
.header-demo .datatable-header-cell {justify-content: center;}
