.github-icon {
  background-repeat: no-repeat;
  display: inline-block;
  fill: currentColor;
  height: 1.5rem;
  width: 1.5rem;
  color: white;
  margin-right: 1.25rem;
}

.github-icon:hover {
  opacity: .8;
}

.datatable-header-row {
  min-height: 2.5rem;
}

.cell-big-value {
  background-color: lightsalmon;
}

.cell-zero-value {
  background-color: lightgreen;
}

.cell-middle-value {
  background-color: lightBlue;
}

.cell-right {
  justify-content: flex-end;
}

.cell-right input {
  text-align: right;
}

.datatable-body-row.row-warrior,
.datatable-body-row.row-warrior .dt-sticky {
  background-color: lightyellow;
}

.datatable-body-row.row-sorcerer,
.datatable-body-row.row-sorcerer .dt-sticky {
  background-color: LightSlateGray;
  color: white;
}

.datatable-header-cell.header-cell-demo {
  justify-content: center;
  background-color: lightseagreen;
}

.tooltip {
  visibility: hidden;
  width: 13.75rem;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: .375rem;
  padding: .3125rem 0;
  position: absolute;
  z-index: 1500;
}

.dt-message {
  display: inline-block;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.dt-message-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

/* PanelDemoComponent */
.panel-demo1 .ui-modal-header { background-color: red !important; }
.panel-demo2 .ui-modal-header { background-color: #4CAF50 !important; }
.panel-demo3 .ui-modal-header { background-color: #ff9800 !important; }

/* NestedModalDemoComponent */
.nested-modal-demo1 .ui-modal { width: 37.5rem; }
.nested-modal-demo2 .ui-modal { width: 34.375rem; }
.nested-modal-demo3 .ui-modal { width: 31.25rem; }

/* NestedModalsDemoComponent */
.nested-modals-demo > .ui-modal { width: 68.75rem; }

/* ModalDataTableDemoComponent */
.rank-modal .ui-modal { width: 56.25rem; }
.inventory-modal .ui-modal { width: 56.25rem; }

/* MultiSelectDemoComponent */
.multi-select-demo {width: 37.5rem;}
.multi-select-demo .datatable-body-cell {padding: 0; margin: 0;}
.multi-select-demo .datatable-body-cell > .cell-data,
.multi-select-demo .datatable-body-cell > span:first-child {padding: .25rem .1875rem;}
.multi-select-demo-block {position: relative;}
.multi-select-demo-block .dt-dropdown-select-list {width: 15.625rem;}

/* FrozenTableDemoComponent */
.frozen-table-demo {display: flex;}
.frozen-table-demo .tab2 {overflow-x: auto;}
.frozen-table-demo .frozen .dt-scroller {overflow-y: hidden; overflow-x: scroll}

/* VerticalGroupDemoComponent */
.vertical-group-demo {display: flex;}
.vertical-group-demo .tab2 {overflow-x: auto;}
.vertical-group-demo .vertical .cell-data {transform: rotate(-90deg); overflow: visible;}
.vertical-group-demo .vertical .datatable-header-cell, .vertical .datatable-body-cell {width: 3.125rem;}
.vertical-group-demo .vertical .datatable-body {overflow-y: hidden; overflow-x: scroll}

/* DynamicFormDemoComponent */
.dynamic-form-demo {display: block; width: 25rem;}

/* DualListBoxDemoComponent */
.dual-list-box-demo {min-width: 25rem; max-width: 37.5rem}

/* ScrollerDemoComponent */
.scroller-demo .sc-row {height: 2.5rem;}
.scroller-demo.dt-scroller {width: 12.5rem;}

/* SelectListDemoComponent */
.select-list-demo {display: flex;}
.select-list-demo .sl-column {margin-right: 1.875rem; width: 15.625rem; padding: .625rem; border: 1px solid #eee; border-radius: .0625rem;}

/* DraggableDirectiveDemoComponent */
.draggable-directive-demo .dd-box {position: absolute; width: 12.5rem; height: 12.5rem;}
.draggable-directive-demo .box1 {background-color: #009ccc;}
.draggable-directive-demo .box2 {background-color: #f2cb1d; left: 31.25rem;}

/* ResizableDirectiveDemoComponent */
.resizable-directive-demo .dd-box {position: absolute; width: 12.5rem; height: 12.5rem;}
.resizable-directive-demo .box1 {
  background-color: #009ccc;
  min-width: 12.5rem;
  min-height: 12.5rem;
  max-width: 31.25rem;
  max-height: 31.25rem;
}

/* PaginationDemoComponent */
.pagination-demo {width: 30rem;}

/* ModalSelectDemoComponent */
.modal-select-demo {display: block; width: 18.75rem;}

/* InlineEditDemoComponent */
.inline-edit-demo {display: flex; height: 2.5rem;}
.inline-edit-demo-cell.dt-inline-editor {width: 12.5rem; line-height: 2.5rem; border: 1px solid #eee;}

/* DropdownSelectDemoComponent */
.dropdown-select-demo {display: flex;}
.dropdown-select-demo .sl-column {margin-right: 1.875rem; width: 15.625rem;}

/* DragDropDemoComponent */
.drag-drop-demo { display: flex; }
.drag-drop-demo .dd-column { width: 20%; min-height: 31.25rem; }
.drag-drop-demo .dd-column + .dd-column { margin-left: .625rem; }
.drag-drop-demo .dd-column:nth-child(1) { background: rgb(255, 255, 219); }
.drag-drop-demo .dd-column:nth-child(2) { background: rgb(236, 236, 191); }
.drag-drop-demo .dd-column:nth-child(3) { background: rgb(253, 214, 162); }
.drag-drop-demo .dd-column:nth-child(4) { background: rgb(162, 226, 253); }
.drag-drop-demo .dd-column:nth-child(5) { background: rgb(162, 253, 200); }
.drag-drop-demo .dd-issue {
  background: rgba(0, 0, 0, .1);
  border-radius: .25rem;
  margin-bottom: .25rem;
  cursor: move;
  position: relative;
  color: #000;
  overflow: hidden;
}
.drag-drop-demo .dd-issue:hover { background: rgba(0, 0, 0, .15); }
.drag-drop-demo .dd-title { background: rgba(0, 0, 0, .1); padding: .125rem .25rem; }
.drag-drop-demo .dd-text { padding: .1875rem .25rem .0625rem; line-height: 1.2; }

/* DropdownDirectiveDemoComponent */
.dropdown-directive-demo .navbar,
.dropdown-directive-demo .navbar-expand,
.dropdown-directive-demo .dropdown-menu
{ background-color: #2578cf; }

/* HeaderDemoComponent */
.header-demo .datatable-header-cell {justify-content: center;}
