<div class="datatable fixed-header fixed-row scroll-horz"
     [ngStyle]="{'width.px': table.tableWidth}">
  <div class="spinner" [style.visibility]="loading ? 'visible': 'hidden'"></div>
  <app-filter
    #selectFilter
    [table]="table">
  </app-filter>
  <app-datatable-header
    [table]="table"
    (showColumnMenu)="showColumnMenu($event)"
    [offsetX]="offsetX">
  </app-datatable-header>
  <app-datatable-body
    [table]="table"
    [rows]="rows"
    [offsetX]="offsetX"
    [loading]="loading"
    (scroll)="onBodyScroll($event)">
  </app-datatable-body>
  <app-datatable-footer
    [table]="table">
  </app-datatable-footer>
</div>
