<div class="datatable fixed-header fixed-row scroll-horz"
     [ngStyle]="{'width.px': table.tableWidth}">
  <div class="spinner" [style.visibility]="loading ? 'visible': 'hidden'"></div>
  <app-filter
    #selectFilter
    [table]="table"
    (filterChanged)="onFilter($event)">
  </app-filter>
  <datatable-header
    [table]="table"
    (sort)="onSort($event)"
    (showColumnMenu)="showColumnMenu($event)"
    (clearFilters)="selectFilter.clearAllFilters()"
    [offsetX]="offsetX">
  </datatable-header>
  <datatable-body
    [table]="table"
    [rows]="rows"
    (editComplete)="onEditComplete($event)"
    [offsetX]="offsetX"
    [selectedRowIndex]="selectedRowIndex"
    [trackByProp]="trackByProp"
    [loading]="loading"
    (scroll)="onBodyScroll($event)"
    (selectedRowIndexChange)="onSelectRow($event)">
  </datatable-body>
  <datatable-footer
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    [currentPage]="currentPage"
    (pageChanged)="onPageChanged($event)">
  </datatable-footer>
</div>
