<div class="datatable-footer-inner"
  [style.height.px]="footerHeight">

  <ng-template [ngIf]="totalItems > 0">
    <div class="page-count">
      <span class="page-range">{{(itemsPerPage * (currentPage - 1)) + 1}} - {{rowCount()}} of {{totalItems}}</span>
    </div>

    <div class="datatable-pager">
      <app-pagination
        [totalItems]="totalItems"
        [itemsPerPage]="itemsPerPage"
        [currentPage]="currentPage"
        (pageChanged)="onPageChanged($event)">
      </app-pagination>
    </div>
  </ng-template>
</div>
