<tr>
    <th *ngFor="let column of columns" 
    	(mouseenter)="onColumnMouseEnter($event, column)" 
    	(mouseleave)="onColumnMouseLeave($event, column)">
    	<i class="glyphicon glyphicon-filter" [style.visibility]="(!isFilter(column)) ? 'hidden' : 'visible' "></i>
        <span class="column-title" (click)="sort($event, column)">
        {{column.title}}
        <i *ngIf="column.sortable" class="glyphicon" [ngClass]="{'glyphicon-chevron-down': (getSortOrder(column) == -1), 'glyphicon-chevron-up': (getSortOrder(column) == 1)}"></i>
        </span>
        <ng-filter [column]="column" [activeColumn]="activeColumn" [filters]="filters" (onFilter)="filter($event)"></ng-filter>
    </th>
    <th>
    <i class="glyphicon glyphicon-filter" 
        [style.visibility]="(!hasFilter()) ? 'hidden' : 'visible' "
        (click)="clearAllFilters()" title="Очистить все фильтры"></i>
    </th>
</tr>