<div class="datatable-header-inner">

  <div class="datatable-row-left">
    <div class="datatable-header-cell"
         *ngFor="let column of frozenColumns; let colIndex = index; trackBy: columnTrackingFn"
         [ngStyle]="{'width.px': column.width, 'height.px': headerHeight, 'line-height.px': headerHeight}"
         resizeable
         [resizeEnabled]="column.resizeable"
         [minWidth]="minWidthColumn"
         [maxWidth]="maxWidthColumn"
         (resize)="onColumnResized($event, column)">

      <ng-template [ngIf]="colIndex == 0 && settings.filter">
        <i class="glyphicon glyphicon-filter"
           [style.visibility]="(!hasFilter()) ? 'hidden' : 'visible' "
           (click)="clearAllFilters()"
           title="Clear all filters">
        </i>
      </ng-template>
      <ng-template [ngIf]="colIndex > 0">
          <span class="column-title" (click)="sort($event, column)">
          {{column.title}}
          <i class="glyphicon"
             *ngIf="column.sortable"
             [ngClass]="{'glyphicon-chevron-down': (getSortOrder(column) == -1), 'glyphicon-chevron-up': (getSortOrder(column) == 1)}">
          </i>
          </span>
        <i (click)="showColumnMenu($event, column)"
           [ngClass]="{'is-filter': isFilter(column)}"
           class="glyphicon glyphicon-filter column-menu">
        </i>
      </ng-template>
    </div>
  </div>

  <div class="datatable-row-center"
       [ngStyle]="stylesByGroup()">
    <div class="datatable-header-cell"
         *ngFor="let column of scrollableColumns; let colIndex = index; trackBy: columnTrackingFn"
         [ngStyle]="{'width.px': column.width, 'height.px': headerHeight, 'line-height.px': headerHeight}"
         resizeable
         [resizeEnabled]="column.resizeable"
         [minWidth]="minWidthColumn"
         [maxWidth]="maxWidthColumn"
         (resize)="onColumnResized($event, column)">


            <span class="column-title" (click)="sort($event, column)">
            {{column.title}}
            <i class="glyphicon"
               *ngIf="column.sortable"
               [ngClass]="{'glyphicon-chevron-down': (getSortOrder(column) == -1), 'glyphicon-chevron-up': (getSortOrder(column) == 1)}">
            </i>
            </span>
      <i (click)="showColumnMenu($event, column)"
         [ngClass]="{'is-filter': isFilter(column)}"
         class="glyphicon glyphicon-filter column-menu">
      </i>
    </div>
  </div>

</div>

