<thead>
    <tr>
        <th *ngIf="firstColumn"
            [ngStyle]="{'width.px': actionColumnWidth}">
        <i class="glyphicon glyphicon-filter" 
            [style.visibility]="(!hasFilter()) ? 'hidden' : 'visible' "
            (click)="clearAllFilters()" title="Очистить все фильтры"></i>
        </th>
        <th *ngFor="let column of columns"
            [ngStyle]="{'width.px': column.width}"
            resizeable
            [resizeEnabled]="column.resizeable"
            [minWidth]="minWidthColumn"
            [maxWidth]="maxWidthColumn"
            (resize)="onColumnResized($event, column)">

            <span class="column-title" (click)="sort($event, column)">
            {{column.title}}
            <i class="glyphicon" 
                *ngIf="column.sortable" 
                [ngClass]="{'glyphicon-chevron-down': (getSortOrder(column) == -1), 'glyphicon-chevron-up': (getSortOrder(column) == 1)}"></i>
            </span>
            <i (click)="showColumnMenu($event, column)"
                [ngClass]="{'is-filter': isFilter(column)}"
                class="glyphicon glyphicon-filter column-menu"></i>
        </th>
    </tr>
</thead>