th {
	position: relative;
    background-color: #5b9bd5;
    color: white;
}
th:hover {
    background-color: #337ab7;
}
th:hover .column-menu {
    visibility: visible;
}
.column-title {
	color: white;
    padding: 2px;
}
.column-title:hover {
	cursor: pointer;
}
.column-menu {
    float: right;
    padding: 2px;
    visibility: hidden;
}
.column-menu:hover {
    cursor: pointer;
}
.is-filter {
    visibility: visible;   
}