<ng-template #headerTemplate
            *ngIf="table.settings.headerTemplate"
            [ngTemplateOutlet]="table.settings.headerTemplate"
            [ngTemplateOutletContext]="table">
</ng-template>

<div class="datatable-header-inner" [style.height.px]="table.dimensions.headerRowHeight">

  <div class="datatable-row-left">
    <div class="datatable-header-cell"
         *ngIf="table.dimensions.actionColumnWidth"
         [ngStyle]="{'width.px': table.dimensions.actionColumnWidth}">
      <ng-template [ngIf]="table.settings.filter">
        <i class="icon-filter"
           [style.visibility]="(!table.dataFilter.hasFilter()) ? 'hidden' : 'visible' "
           style="cursor: pointer;"
           (click)="clearAllFilters()"
           [title]="table.messages.clearFilters">
        </i>
      </ng-template>
    </div>

    <app-datatable-header-cell
        *ngFor="let column of table.frozenColumns; trackBy: table.columnTrackingFn"
        appResizeableColumn
        [table]="table"
        [column]="column">
    </app-datatable-header-cell>
  </div>

  <div class="datatable-row-center"
       [ngStyle]="stylesByGroup()">
      <app-datatable-header-cell
          *ngFor="let column of table.scrollableColumns; trackBy: table.columnTrackingFn"
          appResizeableColumn
          [table]="table"
          [column]="column">
      </app-datatable-header-cell>
  </div>

</div>

