<span *ngIf="isCheckboxable && table.settings.selectionMode"
      class="{{'datatable-' + table.settings.selectionMode}}">
      <input [type]="table.settings.selectionMode"
             [checked]="allRowsSelected"
             [indeterminate]="partiallySelected"
             (click)="onHeaderCheckboxClick()"/>
</span>
<button class="filter-action"
        *ngIf="filterActionEnabled()"
        [style.visibility]="(!table.dataFilter.hasFilter()) ? 'hidden' : 'visible' "
        (click)="clearAllFilters()"
        [title]="table.messages.clearFilters">
  <i class="icon-filter"></i>
</button>
