<ng-template
    *ngIf="column.headerCellTemplate"
    [ngTemplateOutlet]="column.headerCellTemplate"
    [ngTemplateOutletContext]="cellContext">
</ng-template>

<ng-template [ngIf]="!column.headerCellTemplate">
    <span sort-header
          [sortable]="column.sortable"
          [order]="table.sorter.getOrder(column.name)"
          (sortChange)="onSort(column)">
        {{column.title | dtTranslate}}
    </span>
    <i *ngIf="column.filter"
        (click)="clickColumnMenu($event, column)"
        [ngClass]="{'is-filter': isFiltered()}"
        class="dt-icon-filter column-menu-icon">
    </i>
</ng-template>
