<ng-template
    *ngIf="column.headerCellTemplate"
    [ngTemplateOutlet]="column.headerCellTemplate"
    [ngTemplateOutletContext]="cellContext">
</ng-template>

<ng-template [ngIf]="!column.headerCellTemplate">
    <span class="column-title"
        (click)="onSort(column)">
        {{column.title}}
        <i class="icon"
            *ngIf="column.sortable"
            [ngClass]="table.sorter.getDirection(column.name)">
        </i>
    </span>
    <i *ngIf="column.filter"
        (click)="clickColumnMenu($event, column)"
        [ngClass]="{'is-filter': isFiltered()}"
        class="icon-filter column-menu">
    </i>
</ng-template>
