<ng-template #headerTemplate
            *ngIf="table.settings.headerTemplate"
            [ngTemplateOutlet]="table.settings.headerTemplate"
            [ngTemplateOutletContext]="table">
</ng-template>

<div class="datatable-header-row" [style.height.px]="table.dimensions.headerRowHeight">

  <div class="datatable-row-left">
    <dt-header-cell-action
      *ngIf="table.dimensions.actionColumnWidth"
      [table]="table">
    </dt-header-cell-action>

    <dt-header-cell
        *ngFor="let column of table.frozenColumns; trackBy: table.columnTrackingFn"
        [table]="table"
        [column]="column"
        appResizeable
        [east]="column.resizeable"
        [minWidth]="column.minWidth"
        [maxWidth]="column.maxWidth"
        [ghost]="isGhostResize"
        (resizeBegin)="onResizeBegin()"
        (resize)="onResize($event, column)"
        (resizeEnd)="onResizeEnd($event, column)">
    </dt-header-cell>
  </div>

  <div class="datatable-row-center"
       [ngStyle]="stylesByGroup()">
      <dt-header-cell
          *ngFor="let column of table.scrollableColumns; trackBy: table.columnTrackingFn"
          [table]="table"
          [column]="column"
          appResizeable
          [east]="column.resizeable"
          [minWidth]="column.minWidth"
          [maxWidth]="column.maxWidth"
          [ghost]="isGhostResize"
          (resizeBegin)="onResizeBegin()"
          (resize)="onResize($event, column)"
          (resizeEnd)="onResizeEnd($event, column)">
      </dt-header-cell>
  </div>

</div>

